html, body {
    position: relative;
    height: 100%;
   }

   #landing-nav{
    z-index: 3;
    background-color: #0a3d4d;
   }

 
   #main-wrapper{
    background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Landing/landing-web");
    height: 65vh;
    background-size: cover;
    background-position: center;
    transition-duration: 0s;
    background-repeat: no-repeat;
   }

   #nav-logo{
  

   }
   #cta-button{
    width: 100px;
    background-color: #d6b074;
    color: rgb(255, 255, 255);
    border: #c6c6c6;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.6;
    border-width: 1px;
    border-style: none;
    border-radius: 5px;
    width: 180px;
    text-decoration: none;
    box-shadow: none;

   }
   #swiper-wrap-1{
    width: 90vw;
   }
   #landing-wrapper{
    display: flex;
   }
   #landing-cta{
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.576);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 10%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
    padding-bottom: 10px;
    width: inherit;
    max-height: 800px;
    margin-left: 5vw;
   }

   #gallery-wrapper{
    padding-top: 25px;
  }





   .swiper-container {
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-90vw, 0px);
  }

  #landing-wrapper{
    width: 98vw;
    height: 700px;
  }

  .gallery-top {

    z-index: 1;
  }


  .cta-button{
    background-color: #d6b074;
    color: #fff;
    width: auto;
    padding: 15px;
    transform: translate(0px, 20px);
  }
    
  #landing-text{
    padding-bottom: 2vh;
  }








  /*
  .swiper-slide-active .teaserText {
    animation:mymove 1s ease-out forward;
    animation-iteration-count:1;
  
   Safari and Chrome 
  -webkit-animation:mymove 1s;
  -webkit-animation-iteration-count:1;
  }
  
  @keyframes mymove
  { from {top:0px; opacity: 0;}
  to {top:100px; opacity: 1}
  }
  
  @-webkit-keyframes mymove  Safari and Chrome 
  {
  from {top:0px; opacity: 0;}
  to {top:100px; opacity: 1;}
  }
  */



  @media only screen and (max-width: 520px) {

    #nav-logo{
      margin-top: 2vh;
      width: 30%;
    }

    #gallery-top{
        height: 700px
    }

    #landing-cta{
        margin-top: 20vh;
        
    }

    #gallery-wrapper{
        padding: 0;
    }


    #landing-nav{
        height: 0px;
    }

    .swiper-container{
        height: 8vh;
    }

    
}

@media only screen and (min-width: 1024px) {


    #landing-nav{
        height: 0px;
    }
    #landing-nav-wrap{
      padding-left: 40px;
      padding-right: 40px;
      background-color: rgba(255, 255, 255, 0.376);
    }

    #nav-logo{
      margin-top: 1vh;
      width: 40%;
    }

    #main-wrapper{
        overflow: hidden;
        background-position: top;
    }
    #landing-cta{
        margin-top: 20vh;
        padding-bottom: 50px;
    }


    .cta-button{

    }


}