:root{
    --gray-darker:               #444444;
--gray-dark:                 #696969;
--gray:                      #999999;
--gray-light:                #cccccc;
--gray-lighter:              #ececec;
--gray-lightest:             lighten(var(--gray-lighter,4%));

}


*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid var(--gray-light);
  border-radius: 1rem;
  color: var(--gray-dark);
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
}

.card {
  background-color: #8e9fa922;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 15px;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  height: 18vh;
}

.card__image {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  height: 10vh;

}






.card__image--fence {
  background-image: url(https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Icons/meditation.png);
}

.card__image--river {
    background-image: url(https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Icons/elearning.png);
  }


.card__image--record {
    background-image: url(https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Icons/gift.png);
  }

  .card__image--flowers {
    background-image: url(https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Icons/925811.png);
  }
.card__title {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
}

.card__text {
  flex: 1 1 auto;
  font-size: 1.3rem;
  line-height: 1.75;
  margin-bottom: 1.25rem;
  text-align: center;
}



@media only screen and (max-width: 520px) {


    .cards__item{
        width: 50%;
        height: 400px;

    }
}

