
  
  
  .wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
  } 
  
   .galleryImg {
    opacity: .8;
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.25s;
  }
  .galleryImg:nth-child(7n+1) {
    grid-column: 2/span 2;
  }
  .galleryImg:hover {
    z-index: 2;
    transform: scale(2);
    opacity: 1;
  }
 

  @media all and (min-width: 500px) {
  }


  /**************CUTOFF FOR VERTICAL*****************/
  @media all and (max-width: 500px) {
    
    #photo-booth-memory-wrapper{
      display:flex;
      flex-direction: row-reverse;
      padding-left: 15px;
      padding-right: 15px;
    }

    #photo-booth-memory-text-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wrapper {
      padding-left: 1vw;
      position: relative;
      flex-grow: 1;
      margin: auto;
      max-width: 1200px;
      max-height: 1200px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 2vmin;
      justify-items: center;
      align-items: center;
    } 
    #photo-booth-memory-text{
      max-width: 200vw;
    }

    #phot-booth-memory-img-center{
      grid-column: 2/span 2;
    }
    #phot-booth-memory-img-left{
      grid-column-start: 1;
    }

    #photo-booth-memory-section{
      padding-bottom: 20px;
    }


  }


  @media all and (max-width: 420px) {

    #photo-booth-memory-text{
      font-size: 15.5px;
    }

  }

  @media all and (max-width: 375px) {

    #photo-booth-memory-text{
      font-size: 14.5px;
    }

  }

  @media all and (max-width: 350px) {

    #photo-booth-memory-text{
      font-size: 13px;
    }

  }