
.sub-text{
    text-align: center;
}
.faq-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.left-faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;

}

.right-faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;

}

.contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-wrapper{
    width: 70%;
}

.contact-details{
    width: 25%;
}

#contact-section{
    background-color: #ededed;
}

@media only screen and (max-width: 768px) {
  

   .faq-wrapper{
    flex-direction: column;
    justify-content:end;
    align-items: center;
   }
   .left-faq {
    width: 90%;
   }
   .right-faq{
    width: 94%;

}

  }