
.sub-text{
    text-align: center;
}
.faq-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.left-faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;

}

.right-faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;

}

.contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-wrapper{
    width: 70%;
}

.contact-details{
    width: 25%;
}
.privacy{
    text-align: center;
}

#contact-section{
    background-color: #ededed;
}



.section{
    background-color: unset!important;
}

.faq-page-section{
    padding-bottom: 0!important;
}
@media only screen and (max-width: 768px) {
  

   .faq-wrapper{
    flex-direction: column;
    justify-content:end;
    align-items: center;
   }
   .left-faq {
    width: 90%;
   }
   .right-faq{
    width: 94%;

}


  }


  @media only screen and (max-width: 525px) {
  

    .contact-title{
    
        font-size: 22px;

    }

    .contact-text{
        font-size: 15px;
    }
   }

   @media only screen and (max-width: 410px) {
  

    .contact-title{
    
        font-size: 20px;

    }

    .contact-text{
        font-size: 13px;
    }
 
   }

   @media only screen and (max-width: 374px) {
  

    .contact-title{
    
        font-size: 18px;

    }
 
   }