


#why-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}



#why-list{
    list-style: none;
}


#why-header{
    font-weight: 700;
}





  @media all and (max-width: 768px) {

    #photo-booth-rental{
        margin-top: -5vh;
    }
  }


  @media all and (max-width: 500px) {

    #why-header{
        text-align: center;
    }
    #why-text{
        text-align: center;
    }
  }


